<?xml version="1.0"?>
<config>
    <modules>
        <Abstract_ExtendedApi>
            <version>1.0.0</version>
        </Abstract_ExtendedApi>
    </modules>

    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_api>Abstract_ExtendedApi_Catalog_Model_Product_Api</product_api>
                </rewrite>
            </catalog>
        </models>
    </global>

</config>
